*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: icofont , monospace, sans-serif;
  font-family: 'Work Sans', sans-serif;
}

@font-face {
  font-family: 'icofont';
  src: url(../asets/fonts/icofont.woff) format("woff");
}

.row {
  width: 101rem;
  margin: 0 auto;
  background-color: aqua;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row .col-1-of-2 {
  display: inline-block;
  float: left;
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-2:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-3 {
  display: inline-block;
  float: left;
  width: calc((100% - ( 6rem * 2 )) / 3);
}

.row .col-1-of-3:not(:last-child) {
  margin-right: 6rem;
}

.header {
  width: 100%;
  height: 90vh;
  width: 100%;
  position: relative;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 6rem;
  max-width: 101rem;
}

.header__logo {
  display: inline-block;
}

.header__logo img {
  width: 6.3rem;
}

.header .navigation {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin-top: .3rem;
  margin-left: 3rem;
}

.header .navigation__list {
  list-style-type: none;
}

.header .navigation__item {
  display: inline-block;
  text-decoration: none;
  margin-left: 1.5rem;
}

.header .navigation__link {
  text-decoration: none;
  color: #314584;
  padding: .6rem;
  -webkit-transition: all .15s;
  transition: all .15s;
  letter-spacing: 0.1rem;
}

.header .navigation__link--arrow-down {
  display: inline-block;
  width: 0rem;
  border-top: 0.5rem solid #000;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  position: relative;
  top: -.4rem;
}

.header .navigation__link:hover {
  color: #FF3946;
}

.header__contact {
  display: inline-block;
}

.header__background {
  position: absolute;
  top: -4rem;
  right: 0;
  width: 50%;
  z-index: -1;
}

.header__content {
  width: 101rem;
  margin: 0 auto;
  margin-top: 23.3rem;
}

.header__text {
  margin-top: 2.4rem;
  width: 48%;
  font-size: 1.6rem;
  color: #6E757A;
  line-height: 1.8;
  letter-spacing: .5px;
}

.btn {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  padding: 1.6rem 4.3rem;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.btn--contact {
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #FF3946;
  font-weight: 600;
  letter-spacing: 0rem;
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.05);
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 1.6rem 4.3rem;
  border-radius: 3px;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.btn--contact:hover {
  color: #fff;
  background-color: #FF3946;
}

.btn__container {
  margin-top: 5rem;
}

.btn--primary {
  background-color: #FF3946;
  font-size: 1.6rem;
  border-radius: 3rem;
  color: #fff;
  border: 2px solid #FF3946;
  padding: .9em 2em;
  text-transform: initial;
}

.btn--primary:hover {
  background-color: #fff;
  color: #314584;
}

.btn--secondary-blue {
  font-size: 1.6rem;
  color: #314584;
}

.btn--secondary-blue:hover {
  color: #FF3946;
}

.heading--primary {
  font-size: 6.5rem;
  color: #314584;
}
/*# sourceMappingURL=main.css.map */