.about {
    margin-top: 14rem;
    margin-bottom: 14rem;
    position: relative;

    &__background {
        position: absolute;
        width: 14%;

        &--1 {
            top: 0rem;
            left: 0;
        }

        &--2 {
            top: 20rem;
            right: 0;
            width: 17%;
        }
    }

}