.row {
    width: $default-width;  
    margin: 0 auto;
    
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    .col-1-of-2 {
        float: left;
        width: calc((100% - #{$gutter-horizontal}) / 2);

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-3 {
        float: left;
        width: calc((100% - ( #{$gutter-horizontal} * 2 )) / 3);

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }
}