
 // COLORS
$color-white: #fff;
$color-black: #000;

$color-primary: #314584;
$color-secondary: #FF3946;
$color-tertiary: #6E757A;




// GRIDD

$default-width: 101rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;